<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!-- <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"> -->
    <link rel="stylesheet" href='/assets/css/style.css'>
    <link rel="stylesheet" href='/assets/css/header.css'>
    <link rel="stylesheet" href='/assets/css/project_cards.css'>
  </head>
  
  <body>    
    <!--Creating page navigation buttons-->
    <div class="topnav">        
      <a href="index.html">Home</a>
      <a href="about.html">About</a>                      
      <a href="contact.html">Contact</a>
    </div>
    
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
    </header>
      
    <main id="content" class="main-content" role="main">     
      {{ content }}

    <!-- Creating project cards -->
    <div class="card" style="float: left; width: 49%">        
        <div class="iframe-container">
          <iframe src="https://www.youtube.com/embed/ScMzIvxBSi4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>                
        <div class="container">
          <h4><b><a href="project-1.html" class="project-link">Project 1</a></b></h4>
          <p>Short description</p>
        </div>
      </div>

    <div class="card2" style="float: right; width: 49%">        
        <img src="cat.jpeg" alt="Catzie">
        <div class="container">
            <h4><b><a href="project-2.html" class="project-link">Project 2</a></b></h4>
          <p>Looooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooong sentence</p>
        </div>
      </div>
  
    <div class="card" style="float: left; width: 49%">        
          <div class="iframe-container">
            <iframe src="https://www.youtube.com/embed/EngW7tLk6R8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>                

          <div class="container">          
            <h4><b><a href="project-3.html" class="project-link">Project 3</a></b></h4>
          <p>Short description 3</p>
        </div>
      </div>

    <div class="card2" style="float: right; width: 49%">
        <img src="cat.jpeg" alt="Catzie">
        <div class="container">
          <h4><b><a href="project-4.html" class="project-link">Project 4</a></b></h4>
          <p>Short description 4</p>
        </div>
      </div>
  

      <footer class="site-footer">        
      </footer>
    </main>
  </body>
</html>
